.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--image-overlay);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 45;
  }
  
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
   
    to {
      transform: rotate(359deg);
    }
  } */
