.forgotPassword_container{
    background-color: lightgrey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword_content{
    background-color: white;
    width: 387px;
    padding: 45px 39px;
    border-radius: 10px;
}

.reset_password_container h2, .otp_password_container h2{
font-size: 17px;
margin-bottom: 23px;
}

.reset_password_container p, .otp_password_container p{
    font-size: 12px;
    }