:root{
  --primary-color: red;
  --background-color: 
  #F5F6FA;
} 

button{
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
}
